body {
    background: #1a1a1d;
    color: black;
    font-weight: 600;
    font-family: Inter;
    font-size: 16px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    position: relative;

    height: 200vh;
}

body.modal-open {
    overflow-y: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    border-bottom: 2px solid #6f2132;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 15px;

    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:
        /* Нижний и правый эффект глубины */
        inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
        /* Верхний и левый эффект глубины */
        inset + 0.75px +0.5px rgba(255, 255, 255, 0.025),
        /* Shadow effect */
        3px 2px 10px rgba(0, 0, 0, 0.25),
        /* Короткий подповерхностный эффект */
        inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025),
        /* Длинный подповерхностный эффект */
        inset 0px 0px 40px 5px rgba(255, 255, 255, 0.025);

    button {
        min-width: 42px;
        height: 42px;
        padding: 0 20px;
        line-height: 42px;
        border-radius: 9px;

        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #6f2132;
        color: #fff;
        text-align: center;
        cursor: pointer;
        border: 1px solid #4e4e50;
        white-space: nowrap;
        transition: color 0.3s, background 0.3s, border 0.3s;

        &:hover {
            background-color: #c3073f;
        }
    }

    ul {
        display: flex;
        align-items: center;
        width: fit-content;
        text-align: center;
        list-style-type: none;
        unicode-bidi: isolate;

        li {
            margin-right: 10px;
        }

        &.navlink {
            cursor: pointer;

            li:hover {
                border-bottom: 1px solid #6f2132;
            }
        }
    }
}

.container {
    display: flex;
    gap: 5px;
    width: 100vw;
    margin: 0 auto;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    .image-container {
        width: 250px;
        border: 1px solid #6f2132;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 370px;
        flex-direction: column;
        overflow: hidden;
        padding: 5px;

        gap: 10p;

        &>img {
            object-fit: cover;
            height: 300px;
            border-radius: 5px;
            overflow: hidden;
            cursor: pointer;
        }

        .control-panel-image {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        button {
            min-width: 42px;
            height: 32px;
            padding: 0 20px;
            line-height: 42px;
            border-radius: 9px;

            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: #6f2132;
            color: #fff;
            text-align: center;
            cursor: pointer;
            border: 1px solid #4e4e50;
            white-space: nowrap;
            transition: color 0.3s, background 0.3s, border 0.3s;

            &:hover {
                background-color: #c3073f;
            }
        }

        /*  ________checkbox */
        .checkbox-wrapper-2 {
            display: flex;
            justify-content: center;
            align-items: center;


            .ikxBAC {
                appearance: none;
                background-color: #526582;
                border-radius: 72px;
                border-style: none;
                flex-shrink: 0;
                height: 20px;
                margin: 0;
                position: relative;
                width: 60px;
            }

            .ikxBAC::before {
                bottom: -6px;
                content: "";
                left: -6px;
                position: absolute;
                right: -6px;
                top: -6px;
            }

            .ikxBAC,
            .ikxBAC::after {
                transition: all 100ms ease-out;
            }

            .ikxBAC::after {
                background-color: #fff;
                border-radius: 50%;
                content: "";
                height: 14px;
                left: 3px;
                position: absolute;
                top: 3px;
                width: 14px;
            }

            input[type=checkbox] {
                cursor: default;
            }

            .ikxBAC:hover {
                background-color: #c9cbcd;
                transition-duration: 0s;
            }

            .ikxBAC:checked {
                background-color: #6f2132;
            }

            .ikxBAC:checked::after {
                background-color: #fff;
                left: 43px;
            }

            :focus:not(.focus-visible) {
                outline: 0;
            }

            .ikxBAC:checked:hover {
                background-color: #6f2132;
            }
        }


    }
}

.image-shower-main-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;

    &.open {
        width: 100%;
        height: 100vh;
        visibility: visible;
        opacity: 1;
    }

}